.table {
    display: inline-block;
    width: calc(50% - 2rem);
    background-color: #775333;
    padding: 0.5rem;
    margin: 0.5rem;
}

.table .t-header {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px gray solid;
}
.table .t-body {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
}

.t-body .status {
    background-color: #F1FF2E;
    padding: 0.5rem;
}

.t-body .order {
    padding: 0.5rem;
}
