<div class="header">
    <h3>TABLE</h3>
</div>

<div class="content">
    <div class="container">
        <div class="table">
            <div class="t-header">
                <label>TAB.01</label>
                <label>Mr.Quynh</label>
            </div>
            <div class="t-body">
                <div class="order">
                    3 Order
                </div>
                <div class="status">
                    Ready
                </div>
            </div>
        </div>
        <div class="table">
            <div class="t-header">
                <label>TAB.01</label>
                <label>Mr.Quynh</label>
            </div>
            <div class="t-body">
                <div class="order">
                    3 Order
                </div>
                <div class="status">
                    Ready
                </div>
            </div>
        </div>
        <div class="table">
            <div class="t-header">
                <label>TAB.01</label>
                <label>Mr.Quynh</label>
            </div>
            <div class="t-body">
                <div class="order">
                    3 Order
                </div>
                <div class="status">
                    Ready
                </div>
            </div>
        </div>
        <div class="table">
            <div class="t-header">
                <label>TAB.01</label>
                <label>Mr.Quynh</label>
            </div>
            <div class="t-body">
                <div class="order">
                    3 Order
                </div>
                <div class="status">
                    Ready
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">

</div>